* {
    margin-top: 3px; 
}
.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.artistCard {
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#inputButton,button {
  margin-bottom: 10px !important;
  margin-right: 10px !important;
  width: 125px !important;
  height: auto;
}

.info {
  cursor: not-allowed;
  width: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
